<nav class="header">
  <!-- Sidebar -->
  <nav class="sidebar">
    <ul class="sidebar-list" [class.visible]="isSidebarVisible" [hidden]="!isSidebarVisible">
      <li>
        <button class="hamburger-btn" (click)="toggleSidebarVisibility()">
          <svg xmlns="http://www.w3.org/2000/svg"
            height="50px"
            viewBox="0 -960 960 960"
            width="50px" 
            fill="currentColor"
            class="hamburger-icon">
            <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
          </svg>
        </button>
      </li>
      <li *ngFor="let item of menuData?.elements">
        <a [routerLink]="item.route" *ngIf="item.enable">{{ item.label }}</a>
        <span *ngIf="!item.enable" class="disabled-link">{{ item.label }}</span>
      </li>
      <li class="language-selector">
        <select (change)="changeLanguage($event)" [value]="currentLanguage">
          <option value="en">English</option>
          <option value="fr">French</option>
          <option value="de">German</option>
          <option value="es">Spanish</option>
        </select>
      </li>
    </ul>
  </nav>

  <!-- Header Menu -->
  <div class="navbar">
    <div>
      <button class="hamburger-btn" (click)="toggleSidebarVisibility()">
        <svg xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 50 50" 
          width="50px" 
          height="50px" 
          fill="currentColor"
          class="hamburger-icon">
          <path d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z"/>
        </svg>
      </button>
    </div>
    <ul class="menu">
      <li *ngFor="let item of menuData?.elements" [class.disabled]="!item.enable">
        <a [routerLink]="item.route" *ngIf="item.enable">{{ item.label }}</a>
        <span *ngIf="!item.enable" class="disabled-link">{{ item.label }}</span>
      </li>
      <li class="language-selector">
        <select (change)="changeLanguage($event)" [value]="currentLanguage">
          <option value="en">English</option>
          <option value="fr">French</option>
          <option value="de">German</option>
          <option value="es">Spanish</option>
        </select>
      </li>
    </ul>
    <button class="logout-btn" (click)="logout()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path fill="currentColor" d="M5 22C4.44772 22 4 21.5523 4 21V3C4 2.44772 4.44772 2 5 2H19C19.5523 2 20 2.44772 20 3V6H18V4H6V20H18V18H20V21C20 21.5523 19.5523 22 19 22H5ZM16 16V13H9V11H16V8L21 12L16 16Z"/>
      </svg>
    </button>
    <label for="theme" class="theme">
      <span class="theme__toggle-wrap">
        <input id="theme" class="theme__toggle" type="checkbox" role="switch" name="theme" value="dark" (change)="toggleTheme()">
        <span class="theme__fill"></span>
        <span class="theme__icon">
          <span class="theme__icon-part"></span>
          <span class="theme__icon-part"></span>
          <span class="theme__icon-part"></span>
          <span class="theme__icon-part"></span>
          <span class="theme__icon-part"></span>
          <span class="theme__icon-part"></span>
          <span class="theme__icon-part"></span>
          <span class="theme__icon-part"></span>
          <span class="theme__icon-part"></span>
        </span>
      </span>
    </label>

  </div>
</nav>
