<div class="form-container">
    <p class="title">{{ IsLogged ? 'Login' : 'Sign Up' }}</p>
    <form class="form" (ngSubmit)="onSubmit(authForm)" #authForm="ngForm" *ngIf="!IsLoading">
        <div class="input-group">
            <label for="email">E-mail</label>
            <input 
                type="email"
                id="email"
                ngModel
                name="email"
                required
                email
                placeholder="Enter your email"
            />  
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input 
                type="password"
                id="password"
                name="password"
                ngModel
                required
                minlength="6"
                placeholder="Enter your password"
            />
            <div class="forgot">
                <button type="button" (click)="onResetPassword(authForm)">Forgot Password?</button>
            </div>
        </div>
        <button class="sign" type="submit" [disabled]="!authForm.valid">{{ IsLogged ? 'Log In' : 'Sign Up' }}</button>
    </form>

    <div *ngIf="error" class="error-message">{{ error }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

    <p class="signup">{{ IsLogged ?  'Don`t have an account?': 'Already registered?' }}
        <button rel="noopener noreferrer" href="#" (click)="onSwitchMode()">{{ IsLogged ? 'Sign Up' : 'Log In' }}</button>
    </p>
</div>
